<div class="settings-section-holder" id="komanda-settings-general" style="display:block">

  <div class="form-box">
    <label for="komanda-theme">Komanda Theme</label>

    <select id="komanda-settings-general-themes" name="themes.current">
      {{#each themes.list}}
      <option value="{{@key}}">{{this.name}}</option>
      {{/each}}
    </select>
  </div>

</div>

<div class="settings-section-holder" id="komanda-settings-notifications" style="display:none;">

  <div class="form-box">
    <label for="komanda-settings-notifications-highlight">On Highlight</label>
    <input id="komanda-settings-notifications-highlight" type="checkbox" name="notifications.highlight">
  </div>

  <div class="form-box">
    <label for="komanda-settings-notifications-pm">On Private Message</label>
    <input id="komanda-settings-notifications-pm" type="checkbox" name="notifications.pm">
  </div>

  <div class="form-box">
    <label for="komanda-settings-notifications-badge">Badge Notifications</label>
    <input id="komanda-settings-notifications-badge" type="checkbox" name="notifications.badge">
  </div>

  <div class="form-box">
      <label for="komanda-settings-notifications-regexHighlight">Highlight Matching</label>
      <input id="komanda-settings-notifications-regexHighlight" type="text" name="notifications.regexHighlight"
             placeholder="Regex (Case Insensitive)" >
  </div>

  <div class="form-box">
      <label for="komanda-settings-notifications-regexIgnoreNicks">Do Not Highlight Nicks</label>
      <input id="komanda-settings-notifications-regexIgnoreNicks" type="text" name="notifications.regexIgnoreNicks"
             placeholder="nick1, nick2, nick3">
  </div>
</div>

<div class="settings-section-holder" id="komanda-settings-sounds" style="display:none;">

  <div class="form-box">
    <label for="komanda-settings-sounds-chat">New Messages</label>
    <input id="komanda-settings-sounds-chat" type="checkbox" name="sounds.chat">
  </div>

  <div class="form-box">
    <label for="komanda-settings-sounds-highlight">On Highlight</label>
    <input id="komanda-settings-sounds-highlight" type="checkbox" name="sounds.highlight">
  </div>

  <div class="form-box">
    <label for="komanda-settings-sounds-pm">On Private Message</label>
    <input id="komanda-settings-sounds-pm" type="checkbox" name="sounds.pm">
  </div>
</div>

<div class="settings-section-holder" id="komanda-settings-embed" style="display:none;">
  {{#each embeds}}
  <div class="form-box">
    <label for="komanda-settings-embed-{{@key}}">{{title}}</label>
    <input id="komanda-settings-embed-{{@key}}" type="checkbox" name="embeds.{{@key}}.enabled">
  </div>
  {{/each}}
</div>

<div class="settings-section-holder" id="komanda-settings-display" style="display:none;">

  <div class="form-box">
    <label for="komanda-settings-display-timestamp">Timestamp Format</label>
    <input id="komanda-settings-display-timestamp" type="text" name="display.timestamp">
  </div>

  <div class="form-box">
    <label for="komanda-settings-quit-message">Quit Message</label>
    <input id="komanda-settings-quit-message" type="text" name="messages.quit" value="{{messages.quit}}" placeholder="Komanda - The IRC Client For Developers http://komanda.io">
  </div>

  <div class="form-box">
    <label for="komanda-settings-hide-system-messages">Show System Messages</label>
    <input id="komanda-settings-hide-system-messages" type="checkbox" name="display.system">
  </div>

  <div class="form-box">
    <label for="komanda-settings-hide-join-part-messages">Hide join/part Messages</label>
    <input id="komanda-settings-hide-join-part-messages" type="checkbox" name="display.hidejoinpart">
  </div>

  <div class="form-box">
      <label for="komanda-settings-minimize-to-tray">Minimize to Tray</label>
      <input id="komanda-settings-minimize-to-tray" type="checkbox" name="display.minimizeTray">
  </div>

</div>
