<div class="names">
  <div class="names-header header-box">
    <i class="iconic" data-glyph="people"></i>
    Users ({{count names}})
  </div>

<div class="break"></div>

  <div class="user-list scrollbar-hide">
    {{#sortNames names}}
    <div class="user" data-name="{{name}}" data-value="{{value}}">

      {{{user-icon value}}}

      {{name}}
    </div>
    {{/sortNames}}
  </div>

</div>
