<div class="topic {{#if status}}full{{/if}} {{#if pm}}full{{/if}}">
  {{#if status}}
  <span class='title' title="">
    {{#get-server server}}
    {{name}}: {{server}}:{{port}}
    {{/get-server}}
  </span>
  {{else}}
  {{#if pm}}
  <span class='title' title="PM: {{channel}}">
    Private Message (PM) with {{channel}}
  </span>
  {{else}}
  {{channel}}
  <span class='title' title="{{topic.topic}}">
    {{topic.topic}}
  </span>
  {{/if}}
  {{/if}}
</div>

{{#if status}}
{{else}}

<button class="zen-button">
  <i class="iconic" data-glyph="fullscreen-enter"></i>
</button>

{{/if}}

<div id="{{messages-id this}}" class="scrollbar messages {{#if status}}full{{/if}} {{#if pm}}full{{/if}}"></div>

{{#if status}}
{{else}}
{{#if pm}}
{{else}}
<div class="channel-names-holder">
  {{> templates/partials/names this }}
</div>
{{/if}}
{{/if}}

<div class="input {{#if status}}full{{/if}} {{#if pm}}full{{/if}}">
  <input type="text" autocomplete=""off"" spellcheck="true" class="mousetrap"></input>
</div>

