<div class="message {{#if highlight}}highlight{{/if}}">

  <div class="body">

    <span class="timestamp">
      {{timestamp}}
    </span>

    {{#if nick}}
    <span class="nickname {{#if highlight}}highlight{{/if}}" style="color:{{random-color nick }}">
      {{nick}}:
    </span>
    {{else}}
    <span class="nickname">
      -->
    </span>
    {{/if}}


    <span class="text">
      {{autolink text}}
    </span>

  </div>

</div>
