<div class="message {{#if highlight}}highlight{{/if}} {{#unless nick}}system-message{{/unless}}">

  <div class="body">

    <div class="timestamp">
      {{timestamp message.timestamp}}
    </div>

    {{#if nick}}
    <span class="nickname {{#if highlight}}highlight{{/if}}" style="color:{{random-color nick }}">
      {{#if sender}}
        ->{{to}}<-
      {{else}}
        {{#if toChannel}}
          -{{nick}}/{{to}}-
        {{else}}
          -{{nick}}-
        {{/if}}
      {{/if}}
    </span>
    {{else}}
    <span class="nickname {{#unless nick}}system-message{{/unless}}">
      -->
    </span>
    {{/if}}


    <span id="{{server}}-{{uuid}}" class="text {{#unless nick}}system-message{{/unless}}">
      {{message text server uuid}}
      <div class="embed-items"></div>
    </span>

  </div>

</div>
